{% extends "base.html" %}

{% block content %}
<style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('static/img/bg.jpg');
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            color: #fff;
        }
    }
</style>
<div class="container">
  <div class="card d-flex justify-content-center align-items-center text-center">
    <h4 class="card-header" style="font-weight: 700;">Tridacna crocea clone 2312.04 cytochrome oxidase subunit I (COI) gene, partial cds; mitochondrial</h4>
    <h5 class="card-header" style="font-weight: 400; color: #134094;">GenBank: KF446298</h5>
    <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Tridacna_crocea_recorte.jpg" alt="RhincodonTypus" style="max-width: 80%; height: auto; margin-bottom: 20px;">
    <p>By Nick Hobgood - <a href="//commons.wikimedia.org/wiki/File:Tridacna_crocea.jpg" title="File:Tridacna crocea.jpg">File:Tridacna_crocea.jpg</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=30669761">Link</a></p>  
    <div class="card-body">
      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">LOCUS</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353">KF446298</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">DEFINITION</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353">Tridacna crocea clone 2312.04 cytochrome oxidase subunit I (COI)
            gene, partial cds; mitochondrial.</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">ACCESSION</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353">KF446298</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">KEYWORDS</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353">.</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">SOURCE</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353">mitochondrion Tridacna crocea</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">ORGANISM</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353">Tridacna crocea
            Eukaryota; Metazoa; Spiralia; Lophotrochozoa; Mollusca; Bivalvia;
            Autobranchia; Heteroconchia; Euheterodonta; Imparidentia;
            Neoheterodontei; Cardiida; Cardioidea; Cardiidae; Tridacninae;
            Tridacna</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">ORIGIN</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">
        1 accctttatt taatctttgg tgcatgagca ggaatagtag gtctagctct cagtcttcta<br>
        61 attcgagctg aactaagcca acctggatct cttttaggag atgatcagat ttataatgtg<br>
        121 atcgtaacag ctcatgcctt tgtaataatc ttctttatag ttataccagt aataattggt<br>
        181 gggtttggaa actgactagt gcccttaata attggtgcac ctgatatagc cttcccacga<br>
        241 ataaataaca taagcttttg attacttcca ccttcattct tactactatt agcttctgca<br>
        301 ggagtagaag ctggggcagg aacaggctga actgtttatc caccattagc aggcaatcta<br>
        361 gcccacgcgg gagcatcagt tgatctaact attttctcct tacatctagc aggaatttca<br>
        421 tcaattttag cctccattaa cttcatcaca actattatta atataaaacc accagctatc<br>
        481 tctcaatacc aaacaccact attcgtctga tctattcttg taactaccat tctactacta<br>
        541 ctttcattac cagtactagc agcaggaatt acaatattac ttacagaccg aaatcttaac<br>
        601 acaacatttt tcgatccggc aggaggtgga gatcctatct tgtatcaaca tttattttga<br>
        661 tttttt
      </p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">COMMENT</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">
        ##Assembly-Data-START##<br>
        Sequencing Technology :: Sanger dideoxy sequencing<br>
        ##Assembly-Data-END##
      </p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">FEATURES</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">Location/Qualifiers</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">SOURCE</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">
        1..666<br>
        /organism="Rhincodon typus"<br>
        /organelle="mitochondrion"<br>
        /mol_type="genomic DNA"<br>
        /isolate="HP_NUS355"<br>
        /db_xref="taxon:259920"<br>
        /geo_loc_name="Indonesia"<br>
        /note="Taman Nasional Teluk Cenderawasih"
      </p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">GENE</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">
        1..666<br>
        /gene="COI"
      </p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">CDS</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">
        1..666<br>
        /gene="COI"<br>
        /codon_start=1<br>
        /transl_table=2<br>
        /product="cytochrome oxidase subunit 1"<br>
        /protein_id="QIZ16608.1"<br>
        /translation="TLYLIFGAWAGMVGLALSLLIRAELSQPGSLLGDDQIYNVIVTA
        HAFVMIFFMVMPVMIGGFGNWLVPLMIGAPDMAFPRMNNMSFWLLPPSFLLLLASAGV
        EAGAGTGWTVYPPLAGNLAHAGASVDLTIFSLHLAGISSILASINFITTIINMKPPAI
        SQYQTPLFVWSILVTTILLLLSLPVLAAGITMLLTDRNLNTTFFDPAGGGDPILYQHL
        FWFF"
      </p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">REFERENCE</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">1 (bases 1 to 666)</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">AUTHORS</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">Toha, A.H.A., Dailami, M., Anwar, S., Setiawan, J.B., Jentewo, Y., Lapadi, I., Sutanto, S., Aryasari, R., Ambariyanto, A., Runtuboi, F., and Madduppa, H.</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">TITLE</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">The genetic relationships and Indo-Pacific connectivity of whale sharks (Rhincodon typus) with particular reference to mitochondrial COI gene sequences from Cendrawasih Bay, Papua, Indonesia</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">JOURNAL</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">Biodiversitas 21 (5), 2159-2171 (2020)</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">REFERENCE</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">2 (bases 1 to 666)</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">TITLE</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">Direct Submission</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">JOURNAL</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">Submitted (01-DEC-2019) Fisheries, Universitas Papua, Jl. Gunung Salju, Amban, Papua Barat 98314, Indonesia</p>
    </div>
  </div>
</div>


{% endblock %}
