{% extends "base.html" %}

{% block content %}
  <style>
    .header-section {
      position: relative;
      background: url('static/img/bg.jpg') no-repeat center center/cover;
      height: 200px;
    }
    
    .header-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8); /* Dark transparent overlay */
    }
    
    .header-content {
      position: relative;
      z-index: 1;
      color: white;
      text-align: center;
      padding-top: 50px;
    }

    .search-bar {
      margin-top: -50px;
      text-align: center;
    }
    
    .search-input {
      max-width: 600px;
      margin: 0 auto;
    }

    .card-text {
      font-size: 14px;
    }
  </style>

  <!-- Header Section -->
  <div class="header-section">
    <div class="header-overlay"></div>
    <div class="header-content">
      <h1>Books</h1>
      <p>Explore Books By Our Veriefied Users: </p>
    </div>
  </div>


  <!-- Search Bar -->
  <div class="search-bar" style="padding-top:90px;">
    <div class="search-input">
      <input type="search" class="form-control" placeholder="Search Books...">
    </div>
  </div>

<div class="container" style="padding-top: 40px; padding-bottom: 30px;">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Card 1 -->
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img src="/static/img/books/book1.png" class="card-img-top" alt="Chicago Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">PANDUAN DASAR ANALISIS DATA GENETIK UNTUK PUBLIKASI</h5>
          <p class="card-text">Panduan ini berisi prosedur, tahapan dan uraian analisis data genetik
            hasil penelitian (data primer), hasil download dari genbank (data sekunder)
            atau gabungan keduanya untuk keperluan publikasi.</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <a href="{{ url_for('view_pdf', filename='ebook1.pdf') }}">View PDF</a>
            </div>
            <div class="col-6">
              <a href="{{ url_for('download_pdf', filename='ebook1.pdf') }}" class="card-link">Download</a>
            </div>
          </div>
          <div class="stats mt-3">
            <p style="font-size:13px;">
              <i class="fas fa-eye"></i> Views: {{ view_count }}
            </p>
            <p style="font-size:13px;">
              <i class="fas fa-download"></i> Downloads: {{ download_count }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img src="/static/img/books/book2.png" class="card-img-top" alt="Chicago Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Monograf: Ikan Ekonomis Penting Perairan Fakfak dan Kaimana: Studi Tiga Genus</h5>
          <p class="card-text">- </p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary btn-sm" data-mdb-toggle="modal" data-mdb-target="#imageModal2">View Full Image</button>
            </div>
            <div class="col-6">
              <a href="/static/img/books/book2.png" class="card-link" download>Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img src="/static/img/books/book3.png" class="card-img-top" alt="Chicago Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Teknik Labotarium Analisis DNA dalam Bidang Perikanan </h5>
          <p class="card-text">-</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary btn-sm" data-mdb-toggle="modal" data-mdb-target="#imageModal3">View Full Image</button>
            </div>
            <div class="col-6">
              <a href="/static/img/books/book3.png" class="card-link" download>Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4" style="padding-top:20px;">
    <!-- Card 4 -->
    <div class="col">
      <div class="card h-100" style="width: 18rem;">
        <img src="/static/img/books/book4.png" class="card-img-top" alt="Chicago Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">APLIKASI BARCODE DNA DALAM PERIKANAN</h5>
          <p class="card-text">-</p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary btn-sm" data-mdb-toggle="modal" data-mdb-target="#imageModal4">View Full Image</button>
            </div>
            <div class="col-6">
              <a href="/static/img/books/book4.png" class="card-link" download>Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Image Modal 2 -->
<div class="modal fade" id="imageModal2" tabindex="-1" aria-labelledby="imageModal2Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModal2Label">Monograf: Ikan Ekonomis Penting</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/static/img/books/book2.png" alt="Monograf: Ikan Ekonomis Penting" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<!-- Image Modal 3 -->
<div class="modal fade" id="imageModal3" tabindex="-1" aria-labelledby="imageModal3Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModal3Label">Teknik Labotarium Analisis DNA</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/static/img/books/book3.png" alt="Teknik Labotarium Analisis DNA" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<!-- Image Modal 4 -->
<div class="modal fade" id="imageModal4" tabindex="-1" aria-labelledby="imageModal4Label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModal4Label">APLIKASI BARCODE DNA DALAM PERIKANAN</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="/static/img/books/book4.png" alt="APLIKASI BARCODE DNA DALAM PERIKANAN" class="img-fluid">
      </div>
    </div>
  </div>
</div>


  <!-- MDB5 JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.js"></script>

{% endblock %}
