{% extends "base.html" %}

{% block content %}
<style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('static/img/bg.jpg');
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            color: #fff;
        }
    }
</style>
<div class="container">
  <div class="card d-flex justify-content-center align-items-center text-center">
    <h4 class="card-header" style="font-weight: 700;">Brachidontes sp. lineage B CDL-2020 isolate BCM_27 cytochrome c oxidase subunit I (COI) gene, partial cds; mitochondrial.</h4>
    <h5 class="card-header" style="font-weight: 400; color: #134094;">GenBank: MN579025</h5>
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/Naturalis_Biodiversity_Center_-_ZMA.MOLL.412914_-_Brachidontes_striatulus_%28Hanley%2C_1844%29_-_Mytilidae_-_Mollusc_shell.jpeg" alt="RhincodonTypus" style="max-width: 80%; height: auto; margin-bottom: 20px;">
    <p>By Hanley, 1844 - <a href="https://en.wikipedia.org/wiki/en:Naturalis_Biodiversity_Center" class="extiw" title="w:en:Naturalis Biodiversity Center"><span title="natural history museum and research center in the Leiden, The Netherlands">Naturalis Biodiversity Center</span></a>, <a href="http://creativecommons.org/publicdomain/zero/1.0/deed.en" title="Creative Commons Zero, Public Domain Dedication">CC0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=45924406">Link</a></p>  
    <div class="card-body">
      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">LOCUS</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353">MN579025</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">DEFINITION</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353"> Brachidontes sp. lineage B CDL-2020 isolate BCM_27 cytochrome c
            oxidase subunit I (COI) gene, partial cds; mitochondrial.</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">ACCESSION</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353">MN579025</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">KEYWORDS</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353">.</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">SOURCE</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353">mitochondrion Brachidontes sp. lineage B CDL-2020</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">ORGANISM</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353"> Brachidontes sp. lineage B CDL-2020
            Eukaryota; Metazoa; Spiralia; Lophotrochozoa; Mollusca; Bivalvia;
            Autobranchia; Pteriomorphia; Mytilida; Mytiloidea; Mytilidae;
            Brachidontinae; Brachidontes.</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">ORIGIN</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">
        1 ttaattcggt tgcatctaat gcatcctgga aattttcttt taaagtcgga tagtttatat <br>
       61 aatgtaattg ttactacaca cgcgttagtt ataatttttt ttgctgttat acctctctta <br>
      121 attggtgcat ttggtaattg gttgatccct ttgtttcttg gagctataga tttagctttt <br>
      181 cctcgaatta ataactttag tttttgaatt ttacccagtg ctttgtactt attgttgttg <br>
      241 tcaggctatg ttgaagaagg tgtgggtgct ggttgaacta tttatccacc tttgtcaact <br>
      301 gttgaatttc ataggagtcc tgcgatggat ttggctattt tgtctcttca tttagcaggt <br>
      361 tctggttctt taataggagc tattaacttc ttaacgtcaa ataaaaatct tccggttgat <br>
      421 aaaataaaag gggagcgttc tgtgttgtat gtgtgaagta tcactgttac agcttttttg <br>
      ttattgttgt ctttgccggt tttagcagga ggtat 515
      </p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">COMMENT</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">
            ##Assembly-Data-START##
            Sequencing Technology :: Sanger dideoxy sequencing
            ##Assembly-Data-END##
      </p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">FEATURES</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">Location/Qualifiers</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">SOURCE</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">
         1..515<br>
        /organism="Brachidontes sp. lineage B CDL-2020"s"<br>
        /organelle="mitochondrion"<br>
        /mol_type="genomic DNA""<br>
       /isolate="BCM_27"<br>
        /isolation_source="Palau3"<br>
        /db_xref="taxon:2774521"<br>
        /geo_loc_name="Palau"<br>
        /collected_by="N. Hanzawa"<br>
        /note="marine lake"
      </p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">GENE</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">
        <1..>515<br>
         /gene="COI"
      </p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">CDS</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">
        <1..>515<br>
        /gene="COI"<br>
        /codon_start=1<br>
        /transl_table=5<br>
        /product="cytochrome oxidase subunit 1"<br>
        /protein_id="QOC73963.1"<br>
        /translation="LIRLHLMHPGNFLLKSDSLYNVIVTTHALVMIFFAVMPLLIGAF
                     GNWLIPLFLGAMDLAFPRINNFSFWILPSALYLLLLSGYVEEGVGAGWTIYPPLSTVE
                     FHSSPAMDLAILSLHLAGSGSLMGAINFLTSNKNLPVDKMKGERSVLYVWSITVTAFL
                     LLLSLPVLAGG"
      </p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">REFERENCE</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;"> 2  (bases 1 to 515)</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">AUTHORS</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">De Leeuw,C.A., Peijnenburg,K.T.C.A., Gillespie,R.G., Maas,D.L.,
            Hanzawa,N., Tuti,Y., Toha,A.H.A., Aji,L.P. and Becking,L.E.</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">TITLE</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">The genetic relationships and Indo-Pacific connectivity of whale sharks (Rhincodon typus) with particular reference to mitochondrial COI gene sequences from Cendrawasih Bay, Papua, Indonesia</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">JOURNAL</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;"> Submitted (15-OCT-2019) Marine Animal Ecology, Wageningen
            University & Research, Droevendaalsesteeg 1, Wageningen, Gelderland
            6708PB, The Netherlands</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">REFERENCE</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">2  (bases 1 to 515)</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">TITLE</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">Direct Submission</p>

      <h6 class="card-title" style="font-weight: 700; color: #2b2b2b;">JOURNAL</h6>
      <p class="card-text text-center" style="font-size:16px; font-weight:300; color:#535353;">Submitted (15-OCT-2019) Marine Animal Ecology, Wageningen
            University & Research, Droevendaalsesteeg 1, Wageningen, Gelderland
            6708PB, The Netherlands</p>
    </div>
  </div>
</div>


{% endblock %}
